// Sidebar width
$sidebar-width: 280px;

:root {
  --sidebar-width: #{$sidebar-width};
}

.w-70 {
  width: var(--sidebar-width);
}

.lg\:ml-70 {
  @media (min-width: 1024px) {
    margin-left: var(--sidebar-width);
  }
} 
 
 