node_modules/

dist/
build/

*.tsbuildinfo

.env
.env.local
.env.development
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vite/

.next/
out/

docker-compose.override.yml

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

kill-port-3000.ps1