@import "../../styles/global.scss";

.oxm-tabswitcher-wrapper {
  position: relative;
  margin-bottom: rem-calc(40);
}

.oxm-tabswitcher {
  display: flex;
  gap: rem-calc(36);
  margin-bottom: 0;
  padding: 0;
  position: relative;
  width: 100%;

  @media (max-width: rem-calc(768)) {
    gap: rem-calc(18);
    overflow-x: auto;
    padding-bottom: rem-calc(8);
  }

  &__tab {
    background: none;
    border: none;
    padding: rem-calc(16) 0;
    font-family: Orbitron, sans-serif;
    font-size: rem-calc(20);
    font-weight: 600;
    color: rgba($color-white, 0.7);
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    white-space: nowrap;
    flex: 0 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    gap: rem-calc(8);

    &:hover {
      color: $color-white;
    }

    &.active {
      color: $color-blue;
    }
  }

  &__tab__icon {
    display: flex;
    align-items: center;
    width: rem-calc(20);
    height: rem-calc(20);
  }

  &__tab__label {
    display: flex;
    align-items: center;
  }

  &__tab__badge {
    background: $color-purple;
    color: $color-white;
    font-size: rem-calc(12);
    font-weight: 700;
    padding: rem-calc(2) rem-calc(8);
    border-radius: rem-calc(10);
    min-width: rem-calc(20);
    text-align: center;
    line-height: 1.2;
  }
}

.oxm-tabswitcher__separator {
  width: 100%;
  height: rem-calc(2);
  background: rgb(255 255 255 / 10%);
  border: none;
  margin: rem-calc(-2) 0 0 0;
  position: relative;
}

.oxm-tabswitcher__indicator {
  position: absolute;
  bottom: rem-calc(0);
  height: rem-calc(2);
  background: $color-blue;
  transition: all 0.3s ease;
  z-index: 1;
}



