@import "../../../styles/global";

.empty-conversations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem-calc(60) rem-calc(20);
  text-align: center;

  .empty-icon {
    width: rem-calc(48);
    height: rem-calc(48);
    color: rgba($color-white, 0.3);
    margin-bottom: rem-calc(16);
  }

  p {
    font-family: Orbitron, sans-serif;
    font-size: rem-calc(18);
    color: $color-white;
    margin: 0 0 rem-calc(8) 0;
  }

  .empty-subtitle {
    font-family: Outfit, sans-serif;
    font-size: rem-calc(14);
    color: rgba($color-white, 0.6);
    margin: 0;
  }
}

.empty-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba($color-white, 0.5);
  text-align: center;
  padding: rem-calc(50) 0;

  .empty-chat-icon {
    width: rem-calc(80);
    height: rem-calc(80);
    margin-bottom: rem-calc(20);
  }

  .empty-chat-text {
    font-size: rem-calc(18);
    font-weight: 600;
  }
}

.no-chat-selected {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba($color-white, 0.5);
  text-align: center;
  padding: rem-calc(50) 0;

  .no-chat-icon {
    width: rem-calc(80);
    height: rem-calc(80);
    margin-bottom: rem-calc(20);
  }

  h2 {
    font-family: Orbitron, sans-serif;
    font-size: rem-calc(24);
    font-weight: 700;
    color: $color-white;
    margin: 0 0 rem-calc(12) 0;
  }

  p {
    font-family: Outfit, sans-serif;
    font-size: rem-calc(16);
    color: rgba($color-white, 0.6);
    margin: 0;
  }
}



