@use "sass:color";
@use "sass:math";

$color-purple: #500CAD;
$color-white: #ffffff;
$color-background: #121212;
$color-gray: #B0B0B0;
$color-gray-light: #E0E0E0;
$color-gray-dark: #333333;
$color-gray-darker: #1A1A1A;
$color-gray-medium: #888888;
$color-gray-darkest: #0A0A1E;
$color-black: #000000;
$color-blue: #1593CE;
$color-red: #F00;
$color-primary: #6D28D9;
$color-purple-light: #8B5CF6;
$color-danger: #ff4747;
$color-secondary: #23223a;
$base-font-size: 10;

@function rem-calc($px) {
  @return math.div($px, $base-font-size) * 1rem;
}

@function lighten($color, $amount) {
    @return color.scale($color, $lightness: $amount);
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-size: rem-calc(42);
    font-weight: 600;
    color: $color-white;
}

p,
span,
label,
td {
    font-size: rem-calc(16);
    color: $color-white;
}

.orbitron {
    font-family: "Orbitron", sans-serif;
}

.outfit {
    font-family: "Outfit", sans-serif;
}

.purple {
    color: $color-purple;
}

.blue {
    color: $color-blue;
}

.modal-actions{
  margin-top: rem-calc(20);
}

.toast-container {
  position: fixed;
  top: rem-calc(20);
  right: rem-calc(20);
  z-index: 1050;
  display: flex;
  flex-direction: column;
  gap: rem-calc(15);
}

.tdnone{
  text-decoration: none !important;
}

// Global custom scrollbar
::-webkit-scrollbar {
  width: rem-calc(10);
  background: $color-gray-darkest;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, $color-purple 0%, $color-blue 100%);
  border-radius: rem-calc(8);
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, lighten($color-purple, 10%) 0%, lighten($color-blue, 10%) 100%);
}
::-webkit-scrollbar-corner {
  background: $color-gray-darkest;
}

// For Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: $color-purple $color-gray-darkest;
}

html, body, #root {
  overflow-x: hidden !important;
}
