@import "../../../styles/global.scss";

.faq {
    padding: rem-calc(40) 10% rem-calc(0);

    h1 {
        margin: rem-calc(20) 0 rem-calc(50);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem-calc(20);
        margin: rem-calc(40) 0;
    }
}

.oxm-accordion {
    border: 1px solid rgba($color-white, 0.2);
    border-radius: rem-calc(20);
    background: transparent;
    padding: rem-calc(25) rem-calc(35);
    cursor: pointer;
    overflow: hidden;
    transition: background 0.3s, border 0.3s;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: rem-calc(20);
        font-weight: 600;
        color: $color-white;
    }

    &__icon {
        width: rem-calc(20);
        height: rem-calc(20);
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease, padding 0.4s ease;

        p {
            margin-top: rem-calc(20);
            font-size: rem-calc(18);
            font-weight: 400;
            color: $color-white;
            opacity: 0.8;
        }
    }

    &.open {
        background: rgba($color-white, 0.05);
        backdrop-filter: blur(rem-calc(67));
        border: 1px solid rgba($color-white, 0.5);

        .oxm-accordion__content {
            max-height: rem-calc(500);
        }
    }
}



