@import '../../styles/global.scss';

.oxm-toast {
    position: fixed;
    top: rem-calc(20);
    right: rem-calc(20);
    z-index: 10000;
    min-width: rem-calc(250);
    background: $color-black;
    color: $color-white;
    padding: rem-calc(16) rem-calc(24);
    border-radius: rem-calc(8);
    box-shadow: 0 rem-calc(8) rem-calc(20) rgba(0, 0, 0, 0.2);
    font-family: "Outfit", sans-serif;
    font-size: rem-calc(16);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--success {
        border-left: rem-calc(5) solid $color-success;
    }

    &--error {
        border-left: rem-calc(5) solid $color-error;
    }

    &--info {
        border-left: rem-calc(5) solid $color-info;
    }

    button {
        background: transparent;
        color: $color-white;
        border: none;
        font-weight: bold;
        cursor: pointer;
        margin-left: rem-calc(16);

        &:hover {
            color: $color-gray;
        }
    }

    &.slide-in {
        animation: slideIn 0.4s forwards;
    }

    &.slide-out {
        animation: slideOut 0.4s forwards;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(rem-calc(30));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(rem-calc(30));
    }
}
