$color-purple: #500CAD;
$color-white: #ffffff;
$color-background: #121212;
$color-blue: #1593CE;

$base-font-size: 10;

@function rem-calc($px) {
    @return ($px / $base-font-size) * 1rem;
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #fff;
}

.orbitron {
    font-family: "Orbitron", sans-serif;
}

.outfit {
    font-family: "Outfit", sans-serif;
}
