$color-purple: #500cad;
$color-white: #fff;
$color-background: #121212;
$color-gray: #b0b0b0;
$color-gray-light: #e0e0e0;
$color-gray-dark: #333;
$color-gray-darker: #1a1a1a;
$color-gray-medium: #888;
$color-gray-darkest: #0a0a1e;
$color-black: #000;
$color-blue: #1593ce;
$base-font-size: 10;

@function rem-calc($px) {
    @return ($px / $base-font-size) * 1rem;
}

h1 {
    font-family: Orbitron, sans-serif;
    font-size: rem-calc(42);
    font-weight: 600;
    color: $color-white;
}

a {
    font-size: rem-calc(16);
    color: $color-white;
}

.orbitron {
    font-family: Orbitron, sans-serif;
}

.outfit {
    font-family: Outfit, sans-serif;
}
