@import "../../styles/global";

.container-dashboarda-app
{
  min-height: calc(100vh - #{rem-calc(70)});
}

.dashboard-tabs {
  margin-bottom: rem-calc(30);
  display: flex;
  justify-content: center;
}
