@import "../../styles/global.scss";

.oxm-textarea-wrapper {
  position: relative;
  width: 100%;
}

.oxm-textarea {
  width: 100%;
  border: 1px solid rgba($color-white, 0.1);
  border-radius: rem-calc(8);
  background: rgba(0, 0, 0, 0.2);
  color: $color-white;
  font-family: 'Outfit', sans-serif;
  font-size: rem-calc(14);
  font-weight: 400;
  padding: rem-calc(16);
  transition: all 0.3s ease;
  outline: none;
  position: relative;
  line-height: 1.5;
  min-height: rem-calc(120);
  resize: none;

  &::placeholder {
    color: rgba($color-white, 0.5);
    font-weight: 400;
    font-size: rem-calc(14);
    transition: color 0.3s ease;
  }

  &:focus {
    background: rgba(0, 0, 0, 0.3);
    border-color: rgba($color-white, 0.2);

    &::placeholder {
      color: rgba($color-white, 0.3);
    }
  }

  &--purple {
    &:focus {
      border-color: $color-purple;
    }
  }

  &--blue {
    &:focus {
      border-color: $color-blue;
    }
  }

  &--small {
    padding: rem-calc(12);
    font-size: rem-calc(13);
    min-height: rem-calc(100);

    &::placeholder {
      font-size: rem-calc(13);
    }
  }

  &--medium {
    padding: rem-calc(16);
    font-size: rem-calc(14);
    min-height: rem-calc(120);

    &::placeholder {
      font-size: rem-calc(14);
    }
  }

  &--large {
    padding: rem-calc(20);
    font-size: rem-calc(15);
    min-height: rem-calc(140);

    &::placeholder {
      font-size: rem-calc(15);
    }
  }

  &--error {
    border-color: $color-error;

    &:focus {
      border-color: $color-error;
      background: rgba($color-error, 0.1);
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: rgba($color-white, 0.2);
    background: rgba(0, 0, 0, 0.1);

    &:focus {
      border-color: rgba($color-white, 0.2);
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.oxm-textarea-error-message {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: rem-calc(4);
  color: $color-error;
  font-size: rem-calc(12);
  font-weight: 400;
  line-height: 1.4;
}
