@import "../../../styles/global";

.chat-header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: rem-calc(20);
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  margin-bottom: rem-calc(20);

  .chat-user-info {
    display: flex;
    align-items: center;
    gap: rem-calc(16);

    .chat-user-avatar {
      position: relative;
      flex-shrink: 0;

      .avatar-image {
        width: rem-calc(48);
        height: rem-calc(48);
        border: 2px solid rgba($color-blue, 0.3);
      }

      .status-indicator {
        position: absolute;
        bottom: rem-calc(0);
        right: rem-calc(0);
        width: rem-calc(14);
        height: rem-calc(14);
        border-radius: 50%;
        border: 2px solid $color-background;
        z-index: 3;
      }
    }

    .chat-user-details {
      display: flex;
      flex-direction: column;
      gap: rem-calc(4);

      .chat-user-name {
        font-family: Orbitron, sans-serif;
        font-size: rem-calc(20);
        font-weight: 700;
        color: $color-white;
        margin: 0;
      }

      .chat-user-status {
        font-family: Outfit, sans-serif;
        font-size: rem-calc(13);
        font-weight: 500;
      }
    }
  }
}



