$color-purple: #500CAD;
$color-white: #fff;
$color-background: #0a0a0f;
$color-gray: #B0B0B0;
$color-gray-light: #E0E0E0;
$color-gray-dark: #333;
$color-gray-darker: #1A1A1A;
$color-gray-medium: #888;
$color-gray-darkest: #0A0A1E;
$color-black: #000;
$color-blue: #1593CE;
$color-red: #F00;
$color-error: #ef4444;
$color-success: #22c55e;
$color-warning: #fbbf24;
$color-info: #3B82F6;
$color-red-light: #fca5a5;
$color-primary: #6D28D9;
$color-purple-light: #8B5CF6;
$color-danger: #ff4747;
$color-secondary: #23223a;
$color-yellow: #FACC15;
$color-green: #4ADE80;
$color-bronze: #CD7F32;
$color-gray-lightest: #CCC;
$color-gray-very-light: #EEE;
$color-purple-accent: #6C47FF;
$color-pink: #EC4899;
$color-gray-medium-dark: #71717A;
$color-gray-medium-light: #A1A1AA;
$color-purple-dark: #9333EA;
$color-purple-medium: #7B36D9;
$color-deep-bg-start: #18182A;
$color-deep-bg-end: #1A1333;
$color-white-soft: #BDBFFF;
$color-red-dark: #E03A3A;
$color-red-soft: #F87171;
$color-yellow-dark: #fbbf24;
$color-orange: #f59e0b;
$color-red-error: #ef4444;
$color-red-light: #fca5a5;
$color-green-success: #22c55e;
$color-green-emerald: #10B981;
$color-blue-indigo: #3B82F6;
$color-purple-violet: #8B5CF6;
$color-purple-dark-violet: #7C3AED;
$color-blue-dark: #2563EB;
$color-yellow-dark: #fbbf24;
$base-font-size: 10;

p, span{
  font-size: rem-calc(16);
  color: $color-gray;
}

@function rem-calc($px) {
    @return ($px / $base-font-size) * 1rem;
}
