$color-purple: #500CAD;
$color-white: #ffffff;
$color-background: #121212;
$color-gray: #B0B0B0;
$color-gray-light: #E0E0E0;
$color-gray-dark: #333333;
$color-gray-darker: #1A1A1A;
$color-gray-medium: #888888;
$color-gray-darkest: #0A0A1E;
$color-black: #000000;
$color-blue: #1593CE;
$color-red: #F00;
$color-primary: #6D28D9;
$color-purple-light: #8B5CF6;
$color-error: #F00;
$color-success: #4CAF50;

$base-font-size: 10;

p, span{
  font-size: rem-calc(16);
  color: $color-gray;
}

@function rem-calc($px) {
    @return ($px / $base-font-size) * 1rem;
}
