@import "../../../styles/global";

.chat-messages {
  flex: 1;
  min-height: rem-calc(400);
  max-height: rem-calc(600);
  overflow-y: auto;
  padding: rem-calc(20) 0;
  display: flex;
  flex-direction: column;
  gap: rem-calc(24);
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}



