@import 'styles/global.scss';

#root {
  margin: 0 auto;
}

main {
  margin-top: 40px;
  padding: 0.5rem 2.5rem;
}

body {
  background-color: #111119;
  color: #fff;
  font-family: "Outfit", sans-serif;
}

:root {
  --sidebar-width-expanded: 290px;
  --sidebar-width-collapsed: 120px;
}

.oxm-layout {
  display: flex;
  transition: margin-left 0.3s ease;
}

.oxm-main {
  flex-grow: 1;
  margin-left: var(--sidebar-width-expanded);
  transition: margin-left 0.3s ease;
}

.oxm-layout.sidebar-collapsed .oxm-main {
  margin-left: var(--sidebar-width-collapsed);
}

.oxm-main main {
  margin-top: 70px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
